@import '../../../common/styles/colors/colors';

.stats {
  margin-top: 20px;
  border-radius: 10px;

  &__table {
    width: 100%;
    border-collapse: collapse;
    background: $white-blue;
  }

  &__table th,
  &__table td {
    font-size: 14px;
    padding: 4px 10px;
  }

  &__table th {
    background-color: $white;
    color: $black;
  }

  &__progressBarContainer {
    border-radius: 5px;
    overflow: hidden;
  }

  &__progressBar {
    height: 8px;
    background-color: $blue-sky;
    border-radius: 5px;
  }

  &__text {
    width: 150px;
    text-align: left;

    &_small {
      width: 40px;
      text-align: center;
    }
  }
}