@import '../../../../common/styles/colors/colors';
@import '../../../../common/styles/mixins/mixins';

.pokemonInfo {
  @include flex-column-center;
  @include block;
  height: 100%;
  justify-content: flex-start;
  background-color: $white;
  padding: 30px 20px;
  position: relative;
  gap: 10px;

  &__title {
    font-size: 26px;
    line-height: 30px;
  }

  &__id {
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: $font-description;
  }

  &__image {
    width: 300px;
  }

  &__types {
    @include flex-column-center;
    gap: 10px;
    position: absolute;
    left: 60px;
    top: 115px;
  }

  &__type {
    width: 45px;
  }

  &__typesContainer {
    position: relative;
  }

  &__typeTooltip {
    visibility: hidden;
    background-color: $black;
    color: $white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 5px;
    left: 55px;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
  }

  &__typesContainer:hover &__typeTooltip {
    visibility: visible;
    opacity: 1;
  }

  &__container {
    width: 100%;
    height: 150px;
    border-radius: 20px;
    padding: 15px 25px;
    display: flex;
    align-items: flex-start;
    background-color: $blue-sky;
  }

  &__abilities {
    margin: 0 auto;
    @include flex-column-center;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: circle;
  }

  &__abilitiy {
    font-size: 18px;
    line-height: 30px;
  }

  &__abilitiesName {
    color: $white;
    font-size: 22px;
    font-weight: 600;
  }

  &__caught {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 10px;
    background-color: $white;
    padding: 2px 4px;
    border: 2px solid $silver;
    border-radius: 10px;
  }

  &__table {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}