@import '../../../common/styles/colors/colors';
@import '../../../common/styles/mixins/mixins';

.header {
  @include block;
  @include flex-center;
  padding-top: 20px;
  justify-content: space-between;

  &_hidden {
    display: none;
  }

  &__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    text-align: center;
    color: $black;
  }

  &__container {
    text-decoration: none;
    @include flex-center;
    gap: 20px;
  }

  &__logo {
    width: 80px;
  }

  &__nav {
    @include flex-center;
    gap: 20px;
  }

  &__link {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-decoration: none;
    color: $black;
    opacity: 1;
    transition: opacity 0.3s ease;

    &_active {
      color: $active-header;
      border-bottom: 2px solid $active-header;
    }
    &:hover {
      opacity: 0.6;
    }


  }

}