@import '../../../common/styles/colors/colors';
@import '../../../common/styles/mixins/mixins';

.notfound {
  @include block;
  @include flex-column-center;
  height: 80vh;

  &__container {
    @include flex-center;
  }

  &__textContainer {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }

  &__title {
    font-size: 50px;
    color: $black-text;
  }

  &__id {
    font-size: 100px;
    font-weight: 800;
    color: $black-text;
  }

  &__text {
    font-size: 100px;
    letter-spacing: 17px;
    color: $gray-blue;
  }

  &__image {
    width: 350px;
  }

  &__back {
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: $black-text;
    border-bottom: 4px solid $gray-blue;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &__back:hover {
    opacity: 0.6;
  }
}